Repository tech-project-github/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api, @novu/web, @novu/ws, documentation, @novu/webhook, @novu/dal, @novu/shared, @novu/notification-center, providers

.github/labeler.yml:

'@novu/api':
  - apps/api/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'documentation':
  - docs/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'providers':
  - providers/**/*

fix: remove pmpm lock
  pnpm-lock.yaml
Labels: none

fix: update pnpm
  pnpm-lock.yaml
Labels: none

feat: update pmnpm and add null checkj
  apps/web/src/pages/activities/components/ActivityItem.tsx
  pnpm-lock.yaml
Labels: @novu/web

fix: add console to trigger notification
  apps/api/src/app/events/events.controller.ts
Labels: @novu/api

added maxStalledCount
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

added maxStalledCount
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

added attemps -0
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

added attemps -0
  apps/api/src/app/events/services/workflow.queue.service.ts
Labels: @novu/api

added attemps and remove on complete
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

removed redis key prefix
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

added new bullmqconfig
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api

removed redis keyprefix
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
Labels: @novu/api
